<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>ASP.NET + Vue.js Example</title>
    <meta name="description" content="ASP.NET + Vue.js Example">
    <meta name="author" content="ajakupson">

    <link rel="stylesheet" href="~/ClientSide/assets/css/common.css">

</head>

<body>
    <div id="app"></div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/ClientSide/build/Main.bundle.js"></script>
</body>
</html>
